@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  color: #111827;
  background-color: #f9fafb;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
